#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.steps-counter {
  margin: ;
  text-align: center;
  font-size: 18px;
  color: #ffcc00;
  font-weight: 600;
  text-shadow: 0 0 4px #ffcc00aa;
}

.hud {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 10px auto 6px;
  font-size: 16px;
  color: #eee;
}

.steps-counter span {
  color: #ffcc00;
  font-weight: 600;
  text-shadow: 0 0 4px #ffcc00aa;
}

.time-counter span {
  color: #4caf50;
  font-weight: 600;
  text-shadow: 0 0 4px #4caf50aa;
}

/* в EndGame.css добавь */
.end-time {
  color: #4caf50;
  font-weight: 700;
  text-shadow: 0 0 6px #4caf50aa;
}

.end-difficulty {
  color: #ff9800;
  font-weight: 700;
  text-shadow: 0 0 6px #ff9800aa;
}
